<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Hightail - Sprint Task Board</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.9.1/build/cssreset/cssreset-min.css">
<link type="text/css" rel="stylesheet" href="../Assets/css/jquery-ui-1.10.2.custom.min.css" />
<link type="text/css" rel="stylesheet" href="../Assets/css/base.css" />
</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<header>
	<img src="../Assets/img/hightail-logo-50.gif" alt="Hightail" class="logo" />
	<div class="user-info right"><a href="/profile/chris">Chris</a> | <a href="/logout/">Log out</a></div>
	<div class="team-info">Team: <select name="team_id">
		<option value="1" selected="selected">crowdSPRING</option>
		<option value="2">Team Two</option>
	</select></div>
</header>
<div class="board" role="main">  
	<div class="row clearfix">
		<div class="left in-progress">
			<h2>In progress <span class="point-count">10</span> <a href="/in-progress/" class="right">View &raquo;</a></h2>
			<ul class="story-list">
				<li class="story blue">
					<span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non urna eget augue interdum mollis.</span>
					<span class="story-info"><strong class="member">Chris</strong><em class="points">3</em></span><a class="edit-story" href="#">edit</a><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story yellow open">
					<span class="description">Mauris scelerisque cursus gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</span>
					<textarea class="edit-content" name="content">Mauris scelerisque cursus gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris scelerisque cursus gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</textarea>
					<span class="story-info"><strong class="member">Adriano</strong><em class="points">2</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story orange">
					<span class="description">Proin vehicula orci eget augue tempor ultrices.</span>
					<span class="story-info"><strong class="member">Diogenes</strong><em class="points">5</em></span><a class="edit-story" href="#">edit</a>
				</li>
			</ul>
		</div>
		<div class="right sprint">
			<h2>Sprint <span class="point-count">17</span> <a href="/in-progress/" class="right">View &raquo;</a></h2>
			<ul class="story-list">
				<li class="story pink">
					<span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non urna eget augue interdum mollis.</span>
					<span class="story-info"><strong class="member">Yang</strong><em class="points">3</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story red">
					<span class="description">Mauris scelerisque cursus gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</span>
					<span class="story-info"><strong class="member">Adriano</strong><em class="points">2</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story white">
					<span class="description">Proin vehicula orci eget augue tempor ultrices.</span>
					<span class="story-info"><strong class="member">Chris</strong><em class="points">5</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story grey">
					<span class="description">In hac habitasse platea dictumst. Integer euismod hendrerit metus, at cursus.</span>
					<span class="story-info"><strong class="member">Diogenes</strong><em class="points">7</em></span><a class="edit-story" href="#">edit</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row clearfix">
		<div class="left qa">
			<h2>QA <span class="point-count">5</span> <a href="/in-progress/" class="right">View &raquo;</a></h2>
			<ul class="story-list">
				<li class="story green">
					<span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non urna eget augue interdum mollis.</span>
					<span class="story-info"><em class="points">3</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story brown">
					<span class="description">Mauris scelerisque cursus gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</span>
					<span class="story-info"><em class="points">2</em></span><a class="edit-story" href="#">edit</a>
				</li>
			</ul>
		</div>
		<div class="right complete">
			<h2>Complete <span class="point-count">10</span> <a href="/in-progress/" class="right">View &raquo;</a></h2>
			<ul class="story-list">
				<li class="story purple">
					<span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non urna eget augue interdum mollis.</span>
					<span class="story-info"><em class="points">3</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story yellow">
					<span class="description">Mauris scelerisque cursus gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</span>
					<span class="story-info"><em class="points">2</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story white">
					<span class="description">Proin vehicula orci eget augue tempor ultrices.</span>
					<span class="story-info"><em class="points">5</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story purple">
					<span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non urna eget augue interdum mollis.</span>
					<span class="story-info"><em class="points">3</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story black">
					<span class="description">Mauris scelerisque cursus gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</span>
					<span class="story-info"><em class="points">2</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story white">
					<span class="description">Proin vehicula orci eget augue tempor ultrices.</span>
					<span class="story-info"><em class="points">5</em></span><a class="edit-story" href="#">edit</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row clearfix">
		<div class="left tbp">
			<h2>To be pointed <span class="point-count">??</span> <a href="/in-progress/" class="right">View &raquo;</a></h2>
			<ul class="story-list">
				<li class="story blue">
					<span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non urna eget augue interdum mollis.</span>
					<span class="story-info"><em class="points">3</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story yellow">
					<span class="description">Mauris scelerisque cursus gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</span>
					<span class="story-info"><em class="points">2</em></span><a class="edit-story" href="#">edit</a>
				</li>
			</ul>
		</div>
		<div class="right backlog">
			<h2>Backlog <span class="point-count">30</span> <a href="/in-progress/" class="right">View &raquo;</a></h2>
			<ul class="story-list">
				<li class="story yellow">
					<span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non urna eget augue interdum mollis.</span>
					<span class="story-info"><em class="points">3</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story yellow">
					<span class="description">Mauris scelerisque cursus gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</span>
					<span class="story-info"><em class="points">2</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story yellow">
					<span class="description">Proin vehicula orci eget augue tempor ultrices.</span>
					<span class="story-info"><em class="points">5</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story yellow">
					<span class="description">In hac habitasse platea dictumst. Integer euismod hendrerit metus, at cursus.</span>
					<span class="story-info"><em class="points">7</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story yellow">
					<span class="description">Proin vehicula orci eget augue tempor ultrices.</span>
					<span class="story-info"><strong class="member">Chris</strong><em class="points">5</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story yellow">
					<span class="description">In hac habitasse platea dictumst. Integer euismod hendrerit metus, at cursus.</span>
					<span class="story-info"><em class="points">7</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story yellow">
					<span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non urna eget augue interdum mollis.</span>
					<span class="story-info"><em class="points">3</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story yellow">
					<span class="description">Mauris scelerisque cursus gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</span>
					<span class="story-info"><em class="points">2</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story yellow">
					<span class="description">Proin vehicula orci eget augue tempor ultrices.</span>
					<span class="story-info"><em class="points">5</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story yellow">
					<span class="description">In hac habitasse platea dictumst. Integer euismod hendrerit metus, at cursus.</span>
					<span class="story-info"><em class="points">7</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story yellow">
					<span class="description">Proin vehicula orci eget augue tempor ultrices.</span>
					<span class="story-info"><em class="points">5</em></span><a class="edit-story" href="#">edit</a>
				</li>
				<li class="story yellow">
					<span class="description">In hac habitasse platea dictumst. Integer euismod hendrerit metus, at cursus.</span>
					<span class="story-info"><em class="points">7</em></span><a class="edit-story" href="#">edit</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<footer>

</footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
</body>
</html>